@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-Medium.woff2') format('woff2'),
        url('../fonts/Jost-Medium.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-Bold.ttf');
    font-weight: 700;

}

@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-Light.ttf');
    font-weight: 400;

}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE/Edge */
    user-select: none;
    /* Стандартный синтаксис */
}

img {
    /* width: 100%; */
    height: 100%;
    /* object-fit: cover; */
    pointer-events: none;
}

html,
body {
    min-height: 100vh;
    width: 100vw;
    font-weight: 500;
    font-family: 'Jost', sans-serif;
    color: #FFFFFF;
    overflow-x: hidden;
}

body {
    position: relative;
}

body [lang=en],
body [lang=ru] {
    display: none;
}

.languageRu [lang=ru] {
    display: block;
}

.languageEn [lang=en] {
    display: block;
}

.screen {
    position: absolute;
    min-height: 100%;
    width: 100%;
    transition: .2s;
    padding: 14px 18px;
}
.screen-title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
}

.screen.hidden {
    opacity: 0;
    pointer-events: none;
}

.screen.preloader {
    background: url('../images/bg-preloader.png') 50% / cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.preloader-progress-wrapper {
    width: 100%;
    text-align: center;
    margin-bottom: 58px;
}

.preloader-progress-count {
    font-weight: 700;
    font-size: 24px;

    margin-bottom: 10px;
}

.prelodaer-progress-bar {
    width: 100%;
    height: 27px;
    border: 1.74px solid #FFFFFF;
    border-radius: 45px;
    padding: 6px;
}

.prelodaer-progress-bar-line {
    border-radius: 10px;
    height: 100%;
    background: linear-gradient(296.64deg, #83CEDF 16.61%, #3199A8 86.81%);
    transition: .2s;
}

.screen-welcome,
.screen-select-person {
    text-align: center;
}

.screen-welcome-title {
    font-size: 24px;
    margin-bottom: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.select-lang-title {
    font-size: 14px;
    font-weight: 400;
}

.select-lang {
    width: 100%;
    min-height: 79px;
    border-radius: 14px;
    background-color: inherit;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    border-radius: 14px;
    padding: 0 14px;



    margin: 24px 0;
    position: relative;
    border: 1px solid #ffffff93;
}

.option-select {
    height: 79px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #51440140;
    position: relative;
}

.option-select::after {
    position: absolute;
    right: 0;
    content: '\25B8';
    transform: rotate(90deg);
}

.select-lang-options .option {
    padding: 14px 0 24px 0;
}

.select-lang .select-lang-options {
    display: none;
}

.select-lang-open .select-lang-options {
    display: block;
}

.button-action {
    font-weight: 700;
    font-size: 20px;
    width: 100%;
    height: 79px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
    background: linear-gradient(180deg, #B23467 0%, #17182C 100%);
    border: 1px solid #F6D31B;
    border-radius: 14px;
}

.person-swiper {
    margin: 24px 0;
    display: flex;
    flex-wrap: nowrap;
    gap: 18px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.person {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    scroll-snap-align: center;
    gap: 3vw;
    position: relative;
}


.person-title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;

}

.person-img {
    padding: 0 24px;
    position: relative;
}
.person-img::after {
    width: 24px;
    height: 24px;
    content: '';
    position: absolute;
    display: block;
    right: 0;
    top: calc(50% - 12px);
    background: url('../images/icons/swiper-icon.svg')50% / cover no-repeat;

}

.person-img::before {
    width: 24px;
    height: 24px;
    content: '';
    position: absolute;
    display: block;
    left: 0;
    transform: rotate(180deg);
    top: calc(50% - 12px);
    background: url('../images/icons/swiper-icon.svg')50% / cover no-repeat;

}
.person:first-child .person-img::before {
   display: none;
}
.person:last-child .person-img::after {
    display: none;
 
 }
.person-desc-container {
    font-size: 14px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
}

.person-desc {
    background: linear-gradient(88.6deg, rgba(0, 0, 0, 0) -28.22%, rgba(255, 255, 255, 0.2) 99.58%);
    border-radius: 14px;
    border: 1px solid #ffffff63;
    padding: 14px 0;
}

.desc-title {
    opacity: 0.9;
    font-weight: 700;
}

.person-desc-country {
    grid-area: 1 / 1 / 2 / 2;
}

.person-desc-business {
    grid-area: 1 / 2 / 2 / 3;
}

.person-desc-money {
    grid-area: 2 / 1 / 3 / 3;
}
/* .screen-game {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */
.screen-game::before {
    content: '';
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../images/image (3).png')50% / cover;
    transform: rotate(180deg);
    opacity: 0.3;

}

.game-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon-gradient {
    padding: 1.7px;
    border-radius: 100px;
    background: linear-gradient(#F6D31B, #5144013B);
}

.game-header-icon {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    overflow: hidden;
}

.btn-earn-gradient {
    border-radius: 16px;
    padding: 2px;
    background: linear-gradient(#F6D31B, #5144013B);
    box-shadow: 0px 0px 17.36px 0px #FFA902B8;
    position: relative;
    flex-grow: 2;
    max-width: 131px;
    min-width: 120px;


}

.btn-earn {
    background: linear-gradient(180deg, #B23467 0%, #17182C 100%);
    border-radius: 16px;
    font-size: 20px;
    padding: 16px;
    height: 61px;
    width: 100%;

    display: flex;
    justify-content: end;

}

.btn-earn::before {
    content: '';
    position: absolute;
    display: block;
    z-index: 0;
    left: -10px;
    top: -10px;
    width: 77px;
    height: 77px;
    background: url('../images/icons/earn-icon.png') 0 0 / contain no-repeat;

}

.game-btn-top-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    position: relative;
}

.game-btn-top {
    font-size: 12px;
    line-height: 10.2px;
    color: #464646;
    padding: 16px 7px 13px 29px;
    background: url('../images/icons/top-btn-bg.jfif') 50% / cover;
    max-width: 106px;
    width: 100%;
    border-radius: 8px;
    position: relative;
}
.btn-top-money::before {
    content: '';
    position: absolute;
    left: -18px;
    bottom: 10px;
    width: 48px;
    height: 56px;
    background: url('../images/icons/coins.png') 50% / cover;
    pointer-events: none;
}
.btn-top-check::before {
    content: '';
    position: absolute;
    left: -32px;
    bottom: 7px;
    width: 75px;
    height: 48px;
    background: url('../images/icons/check.png') 50% / cover;
    pointer-events: none;
}
.btn-top-boost::before {
    content: '';
    position: absolute;
    left: -35px;
    bottom: -5px;
    width: 85px;
    height:74px;
    background: url('../images/icons/boost.png') 50% / cover;
    pointer-events: none;
}

.game-btn-top-title {
    font-weight: 700;
}

.user-info {
    width: 100%;
    height: 87px;
    background: url('../images/info-bg.svg') 50% / 100% no-repeat;
    position: relative;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
}

.user-info-progress-bar {
    width: 100%;
    height: 27px;
    border: 1.74px solid #ffffff6c;
    border-radius: 45px;
    padding: 6px;

}

.user-info-progress-line {
    border-radius: 10px;
    height: 100%;
    background: linear-gradient(296.64deg, #83CEDF 16.61%, #3199A8 86.81%);
    transition: .2s;
    position: relative;
}

.user-info-progress-line::after {
    content: '';
    position: absolute;
    top: -44px;
    right: -30px;
    width: 40px;
    height: 67px;
    background: url('../images/torch.png') 50% / cover;
}

.user-info-footer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 2px;
    width: 100%;
    padding: 0 13px;
    font-size: 14px;
}

.user-energy,
.user-level-desc {
    color: #FFFFFF78;

}

.user-tap {
    max-height: 390px;
    height:37vh;
    border-radius: 30px;
    background-position: top center;
    background-size: cover;
    overflow-x: visible;
    margin-left: -18px;
    margin-right: -18px;
    background-repeat: no-repeat;
    margin-top: 10px;
    position: relative;
}
.user-tap::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 30px;
    background: linear-gradient(360deg, rgba(151, 47, 93, 0) 85.74%, #972F5D 97.65%),
    linear-gradient(180deg, rgba(36, 26, 49, 0) 83.45%, #241A31 100%);
}
.black-gradient.user-tap::after {
    background: linear-gradient(360deg, rgba(23, 24, 44, 0) 83.63%, #17182C 96.93%),
linear-gradient(180deg, rgba(36, 26, 49, 0) 83.45%, #241A31 100%);

}
.user-background-image {
    max-height: 264px;
    height:37vh;
    border-radius: 30px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 8px;
}

.user-info-footer-btn {
    background: url('../images/btn-user-footer.svg') 50% / 100% 100% no-repeat;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 89px;
    height: 30vh;
    padding: 5px;
    font-weight: 700;
    font-size: 20px;

}

.btn-total-coin {
    grid-area: 1 / 1 / 2 / 3;
}
.btn-total-coin::before {
    content: '';
    width: 30px;
    height: 30px;
    background: url('../images/icons/icon-total-coin.png') 50% / cover;
}

.user-info-footer-btn-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    max-width: 100%;
}
.btn-footer-sell::before {
    content: '';
    margin-right: 5px;
    min-width: 56px;
    min-height: 62px;
    background: url('../images/icons/icon-sell.png') 50% / cover;
}
.btn-footer-buy::before {
    content: '';
    margin-right: 5px;
    min-width: 66px;
    min-height: 72px;
    background: url('../images/icons/icon-buy.png') 50% / cover;
}
.hero-tap__span {
    font-weight: 500;
    font-size: 24px;
    color: #fff;
    position: absolute;
    -webkit-transition: all .8s ease-out;
    -o-transition: all .8s ease-out;
    -moz-transition: all .8s ease-out;
    transition: all .8s ease-out;
    z-index: 2;
  }
  .hero-tap__span.is-show {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-1rem);
    -ms-transform: translateY(-1rem);
    -moz-transform: translateY(-1rem);
    -o-transform: translateY(-1rem);
    transform: translateY(-1rem);
  }
  
  .hero-tap__span span {
    position: absolute;
    bottom: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .hero-tap__btn:active~.hero-tap__hero {
    -webkit-transform: translateX(2rem);
    -moz-transform: translateX(2rem);
    -ms-transform: translateX(2rem);
    -o-transform: translateX(2rem);
    transform: translateX(2rem);
  }
  .screen-instruction, .screen-banner {
    background: #17182cf1;

  }

  .instruction-block {
    position: relative;
    pointer-events: none;
    z-index: 5;
    top: -98px;
  }
  .instruction-block.top {
    position: relative;
    z-index: 5;
    top: 0;
  }
  .instruction-block.header-btn-top {
    position: relative;
    z-index: 5;
    top: 0;
  }
  .instruction-block.header-btn-top .instruction-bloc-desc {
    position: relative;
    z-index: 5;
    min-width: 100%;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding: 14px 21px;
    display: block;
    position: absolute;
    top: 110%;
    bottom: auto;
    border: 1.5px solid #ffffffe1;
    border-radius: 14px;
    background: linear-gradient(88.6deg, rgba(0, 0, 0, 0) -28.22%, rgba(255, 255, 255, 0.2) 99.58%);

  }
  .instruction-block.top + .instruction-bloc-desc {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding: 14px 14px;
    display: block;
    position: absolute;
    top: 110%;
    bottom: auto;
    left: 0;
    color: #FFFFFF;
    min-width: 100%;
    border: 1.5px solid #ffffffe1;
    z-index: 3;
    border-radius: 14px;
    background: linear-gradient(88.6deg, rgba(0, 0, 0, 0) -28.22%, rgba(255, 255, 255, 0.2) 99.58%);

  }
  .instruction-bloc-desc {
    display: none;
  }
  .instruction-block .instruction-bloc-desc {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding: 14px 21px;
    display: block;
    position: absolute;
    bottom: 110%;
    border: 1.5px solid #ffffffe1;
    border-radius: 14px;
    background: linear-gradient(88.6deg, rgba(0, 0, 0, 0) -28.22%, rgba(255, 255, 255, 0.2) 99.58%);

  }
  
  .screen-instruction, .screen-banner {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  .banner-info {
    position: fixed;
    padding: 14px 12px;
    width: 90%;
    left: 5%;
    top: 45%;
    background: url('../images/icons/banner-bg.svg') 50% / 100% 100% no-repeat;
  }
  .banner-info.hidden {
    display: none;
  }
  .screen-leaderboard {
    display: flex;
    flex-direction: column;
    gap: 14px;
    
  }
  .leaderboard-info-footer {
    display: flex;
    justify-content: space-between;
    padding: 0 9.5px;
  }
  .leaderboard-item,.friend-item {
    padding: 20.5px 14px;
    background: url('../images/btn-user-footer.svg') 50% / 100% 100% no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .leaderboard-item-icon, .friend-item-icon {
    width: 38px;
    height: 38px;
    border-radius: 100px;
    overflow: hidden;
}
.leaderboard-item-wrapper, .friend-item-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}
.leaderboard-item-name, .friend-item-name {
    font-weight: 400;
    font-size: 14px;
}
.leaderboard-item-coins {
    font-weight: 500;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 1px;
}
.leaderboard-item-coins::before {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    background: url('../images/icons/icon-total-coin.png') 50% / cover;
}
.leaderboard-item-number, .friend-item-number {
    font-weight: 700;
    font-size: 20px;
    line-height: 17px;
}
.friend-item-number {
    display: flex;
    align-items: center;
}
.friend-item-number::after {
    content: '';
    margin-left: 2px;
    display: block;
    background: url('../images/icons/ticket.svg') 50% / cover no-repeat;
    width: 20px;
    height: 20px;
}
.leaderboard-items, .tasks-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.tasks-items {
    margin-top: 14px;
}
.task-item {
    padding: 24.5px 14px;
    background: url('../images/btn-user-footer.svg') 50% / 100% 100% no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.task-item-title {
    opacity: .9;
    font-weight: 400;
    font-size: 14px;
}
.task-item-group {
    display: flex;
    align-items: center;
}
.task-item-coin {
    font-weight: 700;
    font-size: 20px;
}
.task-item-group::before {
    content: '';
    margin-right: 3px;
    display: block;
    width: 30px;
    height: 30px;
    background: url('../images/icons/icon-total-coin.png') 50% / cover no-repeat;
}
.task-item-complete, .boosts-item-icon {
    margin-left: 3px;
    width: 24px;
    height: 24px;
    background: url('../images/task-icon/complete.svg') 50% / cover no-repeat;
}
.task-item-complete.check, .boosts-item-icon.check {
    background: url('../images/task-icon/check.svg') 50% / cover no-repeat;
}
.task-item-complete.checked {
    background: url('../images/task-icon/checked.svg') 50% / cover no-repeat;
}
.screen-friends {
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.section-invite-items {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.invite-item {
    width: 175px;
    height: 175px;
    padding: 14px 9px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 14px;
    background: linear-gradient(180deg, #B23467 0%, #17182C 100%);
    border: 1.5px solid #f6d21bce;
    
}
.invite-item-title {
    font-weight: 700;
    font-size: 14px;
    opacity: .9;
    line-height: 15.4px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.invite-item-reward {
    opacity: .9;
    font-weight: 700;
    font-size: 20px;
    line-height: 17px;
}
.invite-item-img {
    width: 99px;
    height: 77px;
}
.friend-items-title {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20.23px;
}
.friends-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 119px;
}
.btn-link {
    height: 79px;
    width: 90%;
    margin: 0 5%;
    position: fixed;
    bottom: 48px;
    left: 0;
    border-radius: 14px;
    background: url('../images/btn-user-footer.svg');
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    padding: 0 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-link-title {
    position: absolute;
    left: 14px;
    top: 7px;
    font-weight: 400;
    font-size: 12px;
}
.btn-link-link {
    font-weight: 400;
    font-size: 14px;
}
.btn-link-icon {
    width: 24px;
    height: 24px;
    background: url('../images/icons/copy.svg') 50% / cover no-repeat;
}
.screen-desc {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}
.screen-boost-user-info-items {
    display: flex;
    gap: 8px;
}
.user-info-item {
    width: 50%;
    font-weight: 500;
    font-size: 16px;
    line-height: 23.12px;
}
.user-info-item-balance, .user-info-item-energy {
    font-weight: 700;
    font-size: 20px;
    line-height: 17px;
    display: flex;
    align-items: center;
    margin-top: 4px;
}
.user-info-item-balance::before {
    width: 30px;
    height: 30px;
    content: '';
    background: url('../images/icons/icon-total-coin.png') 50% / cover no-repeat;
}
.user-info-item-energy::before {
    width: 30px;
    height: 30px;
    content: '';
    background: url('../images/torch.png') 50% / cover no-repeat;
}
.boosts-item {
    padding-right:14px;
    padding-left: 61px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: url('../images/btn-user-footer.svg');
    height: 79px;
}
.boosts-item-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}
.boost-item-img {
    width: 81px;
    height: 81px;
    position: absolute;
    left: -66px;
    
}

.boosts-item-title {
    opacity: .9;
    font-size: 20px;
    font-weight: 700;
    line-height: 17px;
}
.boosts-item-count {
    font-weight: 400;
    font-size: 14px;
    line-height: 11.9px;
    margin-top: 4px;
}
.boosts-item.check > * {
    opacity: .3;
}

.boosts-item.check > .boosts-item-icon{
    background: url('../images/task-icon/check.svg') 50% / cover no-repeat;
}
.boosts-item > .boosts-item-time{
    display: none;
}
.boosts-item.reload > .boosts-item-time{
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 17px;
}
.boosts-item.reload > .boosts-item-icon{
    display: none;
}
.boosts-item.check {
    position: relative;
    margin-top: 1.5em;
}
.boosts-item.check::before {
    content:'It will be available in 24h' ;
    position: absolute;
    left: 0;
    top: -1.5em;
}
.boosts-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.screen-boosts, .screen-sell , .screen-buy {
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.screen-sell-user-info, .screen-buy-user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 9px;
}

.sell-user-info-item, .buy-user-info-item {
    padding: 14px;
    background: linear-gradient(88.6deg, rgba(0, 0, 0, 0) -28.22%, rgba(255, 255, 255, 0.2) 99.58%);
    border-radius: 14px;
    border: 2px solid #ffffff3b;
    border-bottom: 2px solid #ffffffda;
    border-right: 2px solid #ffffffda;
}
.sell-user-info-img , .buy-user-info-img {
    width: 54px;
    height: 106px;
}
.sell-user-info-item, .buy-user-info-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 15.4px;
}
.user-info-total-loose {
    margin-top: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 13.6px;
    display: flex;
    align-items: center;
    text-wrap: nowrap;
}
.user-info-total-loose::before {
    content: '';
    width: 20px;
    margin-right: 3px;
    height: 20px;
    display: block;
    background: url('../images/icons/icon-total-coin.png') 50% / cover no-repeat;
}
.sell-item, .buy-item {
    width: 49%;
    height: 163px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: linear-gradient(88.6deg, rgba(0, 0, 0, 0) -28.22%, rgba(255, 255, 255, 0.2) 99.58%);
    border-radius: 14px;
    border: 2px solid #ffffff3b;
    border-bottom: 2px solid #ffffffda;
    border-right: 2px solid #ffffffda;
}
.sell-item-footer ,.buy-item-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 12px;
    line-height: 10.2px;

}
.sell-item-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 13.6px;
    text-wrap: nowrap;
    text-transform: uppercase;
    text-align: center;
}
.sell-item-img,.buy-item-img {
    
    height: 93px;
}
.sell-item-price-wrapper, .buy-item-price-wrapper {
    display: flex;
    align-items: center;
}
.sell-item-price-wrapper::before, .buy-item-price-wrapper::before {
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    background: url('../images/icons/icon-total-coin.png') 50% / cover no-repeat;
}
.sell-items ,.buy-items{
    display: flex;
    flex-wrap: wrap;
    gap: 6px;  
}
.buy-item-title {
    font-weight: 500;
    font-size: 10px;
    line-height: 9px;
    text-align: center;
    height: 40px;
    display: flex;
    align-items: center;
   
}
.buy-item {
    height: 293px;
}
.buy-item-img {
    height: 79px;
}
.buy-item-desc {
    min-height: 116px;
    display: flex;
    align-items: center;
    padding:0 2px;
    font-weight: 400;
    text-align: center;
    font-size: 10px;
    line-height: 11px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.2) 100%);
    border-radius: 4px;
    border: 1px solid #ffffff2f;
}
.buy-item {
    padding: 10px 6px;
}